/*Hace que el punto de la lista no salga*/
ul {
    padding: 0%;
    list-style:none;
}

/*Estilo en las tareas*/
ul li {
    border: 1px solid #567fef;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #A9D0F5;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Las siguite tarea tien un color distinto*/
ul li:nth-child(odd) {
    border: 1px solid #A9D0F5 ;
    background: #ddf6ff;
}

/*Seleccionamos la tarea y se subraya*/
ul li.checked {
    text-decoration: line-through;
}

.tareas{
  margin-top: 5%;
}
.mg-btn{
  margin-top: 1%;
}